# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
storybook-static
.turbo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Testing
coverage

# Env files
.env
.env.local
.env.*.local

# Misc
*.tsbuildinfo
